<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>Profile</h1>
    Name: {{ request.user.get_full_name }}<br>
    Email: {{ request.user.email }}<br>
    Username: {{ request.user.username }} <br><br>

    <!-- <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h3>Upload your profile photo</h3><br>
        Image: <input type="file" name="image"><br>
        <button type="submit">Post</button>
    </form> -->
    <form method = "post" enctype="multipart/form-data"> 
        {% csrf_token %} 
        {{ form.as_p }} 
        <button type="submit">Upload</button> 
    </form> 
    <br>
    <a href="/webapp/logout/">Logout</a>
</body>
</html>